---
import LayoutGridHome from 'src/components/layout-grid-home';
import Layout from '../layouts/Layout.astro';
import render_01 from '../assets/render_09.jpg';
import render_02 from '../assets/render_08.jpg';
---

<Layout>
  <section class="relative h-screen">
    <img src={render_01.src} alt="Full Screen Render 01" class="absolute inset-0 w-full h-full object-cover object-center" style={{ zIndex: -1 }} />
  </section>
  <section class="max-w-7xl mx-auto py-16 grid grid-cols-1 md:grid-cols-2 gap-8 items-center md:px-10 px-6">
    <div>
      <h2 data-aos="fade-in" data-aos-delay="300" class="text-4xl lg:text-6xl font-thin text-[#F2BE22]">At Renderart,</h2>
      <p data-aos="fade-up" data-aos-delay="300" class="mt-4 text-gray-600 font-light">
        we are a professional architectural visualization studio, specializing in the creation of high-quality 3D renders and interior design. We are passionate about transforming ideas into
        hyper-realistic images, providing an accurate and detailed representation of every space.
      </p>
    </div>

    <div>
      <img src=`${render_02.src}` alt="Render 3D" class="shadow-lg" />
    </div>
  </section>
  <section class="bg-gray-100 py-16">
    <div class="flex flex-col items-center justify-center text-center">
      <p class="text-4xl font-thin text-[#F2BE22]">Explore our best 3D renders and discover how we can bring your ideas to life</p>
    </div>
  </section>
  <section class="pb-16 max-w-7xl mx-auto">
    <LayoutGridHome client:load />
    <div class="flex justify-center align-middle">
      <a href="/portfolio" class="px-8 py-3 bg-[#F2BE22] text-black rounded-full hover:bg-[#D99923] transition-colors">View More</a>
    </div>
  </section>
</Layout>
